<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{ author }}">
    <meta name="keywords" content="{{ keywords }}">
    <link href="static/css/modern.css" rel="stylesheet">
    <link href="static/css/modern-responsive.css" rel="stylesheet">
    <link href="static/css/site.css" rel="stylesheet" type="text/css">
    <link href="static/js/google-code-prettify/prettify.css" rel="stylesheet" type="text/css">
    <title>{{ Title }}</title>
</head>
<body class="modern-ui" onload="prettyPrint()">
<div class="page">
<div class="nav-bar">
    <div class="nav-bar-inner padding10">
        <span class="pull-menu"></span>
        <a href="/"><span class="element brand">
            <img class="place-left" src="images/logo32.png" style="height: 20px">{{ name }}<small>{{ version }}</small>
        </span></a>

        <div class="divider"></div>

        <ul class="menu" style="overflow: visible;">
            <li><a href="/">{{ home }}</a></li>
            <li data-role="dropdown" class="">
                <a href="#">{{ dropdown }}</a>
                <ul class="dropdown-menu" style="overflow: hidden; display: none;">
                    <li><a href="{{ dp1url }}">{{ dp1text }}</a></li>
                    <li><a href="{{ dp2url }}">{{ dp2text }}</a></li>
                    
                    <li class="divider"></li>
                    <li><a href="{{ dp3text }}">{{ dp3text }}</a>
                    </li>
                </ul>
            </li>
            
            

            <li><a href="{{ sourceurl }}">{{ Source }}</a></li>
        </ul>

    </div>
</div>
</div>
<div class="page" id="page-index">
    <div class="page-region">
        <div class="page-region-content">
            <div class="grid">
                <div class="row">
                    <div class="span8">
                        <div class="hero-unit">
                            <div id="carousel1" class="carousel" data-role="carousel" data-param-auto="false" data-param-period="999999999">
                                <div class="slides">

                                    <div class="slide" id="slide1" style="left: 0px;">
                                        <h2>{{ step1header }}</h2>
                                        <p class="bg-color-blueDark padding20 fg-color-white">{{ step1description }}</p>
                                        <h3>{{ step1start }}</h3>
                                        <div class="input-control text">
                                    <input type="text" placeholder="{{ step1input }}">
                                    <button class="helper"></button>
                                </div>
                                    </div>

                                    <div class="slide" id="slide2" style="display: block; left: -580px;">
                                        <h2>{{ step2header }}</h2>
                                        <p class="bg-color-blueDark padding20 fg-color-white">{{ step1description }}</p>
                                        <h3>{{ step2start }}</h3>
                                        <div class="input-control text">
                                    <input type="text" placeholder="{{ step2input }}">
                                    <button class="helper"></button>
                                </div>
                                    </div>

                                    <div class="slide" id="slide3" style="display: block; left: -580px;">
                                        <h2>{{ step3header }}</h2>
                                        <p class="bg-color-red fg-color-white padding20">
                                            {{ step3start}}
                                        </p>
                                        <p></p><div class="input-control text">
        <input type="date">
        <button class="helper"></button>
    </div>
                                    </div>
                                </div>

                                <span class="control left"><i class="icon-arrow-left-3"></i></span>
                                <span class="control right"><i class="icon-arrow-right-3"></i></span>

                            <div class="markers"><ul><li class="active"><a href="javascript:void(0)" data-num="0"></a></li><li class=""><a href="javascript:void(0)" data-num="1"></a></li><li class=""><a href="javascript:void(0)" data-num="2"></a></li></ul></div><div class="markers"><ul><li class=""><a href="javascript:void(0)" data-num="0"></a></li><li class="active"><a href="javascript:void(0)" data-num="1"></a></li><li><a href="javascript:void(0)" data-num="2"></a></li></ul></div><div class="markers"><ul><li class="active"><a href="javascript:void(0)" data-num="0"></a></li><li class=""><a href="javascript:void(0)" data-num="1"></a></li><li class=""><a href="javascript:void(0)" data-num="2"></a></li></ul></div></div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="span4 padding30 text-center place-left bg-color-blueLight" id="sponsorBlock">
                            <br>
                            <br>
                            <h2 class="">{{ ready }}</h2>
                            <p class="">{{ readytext }}</p>
                            <br>
<script>
function loadXMLDoc()
{
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
    }
  }
var renderurl = 
xmlhttp.open("GET","Source/",true);
xmlhttp.send();
}
function fade(div_id, action) {
	if(action == 'FadeOut') {
		$('#'+div_id).fadeOut('slow');
	}
	else {
		$('#'+div_id).fadeIn('slow');
	}
};
function load() {
document.getElementById('load').style.display='none';
document.getElementById('loading').style.display='block';
loadXMLDoc();
};
function loaded() {
document.getElementById('load').style.display='block';
document.getElementById('loading').style.display='none';
fade('page-index', 'FadeOut');
fade('page-result', 'FadeIn');
};
function backreset() {
document.getElementById('load').style.display='block';
document.getElementById('loading').style.display='none';
document.getElementById('page-result').style.display='none';
fade('page-index', 'FadeIn');
fade('page-result', 'FadeOut');
};
</script>
                            <div id="load"><a href="#" onclick="load()"><h1><i class="icon-arrow-right-3 fg-color-red"></i></h1></a></div>
                            <div id="loading" style="display:none"><iframe src="static/loading-frame.html" seamless width="100%" height=60px></iframe></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
    </div>
<div class="page secondary" id="page-result" style="display:none">
This is the InnerHTML for result.
</div>
<div class="page">
        <div class="nav-bar">
            <div class="nav-bar-inner padding10">
                <span class="element">
                    {{ copyright }}
                </span>
            </div>
</div>
    <script type="text/javascript" src="static/js/assets/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="static/js/assets/jquery.mousewheel.min.js"></script>

    <script type="text/javascript" src="static/js/modern/dropdown.js"></script>
    <script type="text/javascript" src="static/js/modern/accordion.js"></script>
    <script type="text/javascript" src="static/js/modern/buttonset.js"></script>
    <script type="text/javascript" src="static/js/modern/carousel.js"></script>
    <script type="text/javascript" src="static/js/modern/input-control.js"></script>
    <script type="text/javascript" src="static/js/modern/pagecontrol.js"></script>
    <script type="text/javascript" src="static/js/modern/rating.js"></script>
    <script type="text/javascript" src="static/js/modern/slider.js"></script>
    <script type="text/javascript" src="static/js/modern/tile-slider.js"></script>
    <script type="text/javascript" src="static/js/modern/tile-drag.js"></script>
    <script type="text/javascript" src="static/js/google-code-prettify/prettify.js"></script>
</body></html>